// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

.btn-tertiary {
    color: $primary;

    &:hover {
        background-color: $brand;
    }
}

.btn-brand,
.btn-outline-brand,
.btn-outline-light,
.badge-primary {
    color: $primary;
}

.btn-link,
.alert-link,
a {
    color: $inline-link-color;
}

.alert-info {
    background-color: $light-100;
}

.btn-group {
    & > .btn {
        text-transform: uppercase;
        letter-spacing: .25px;
        padding-right: 3rem;
        padding-left: 3rem;
        border-radius: 0;
    }
}

#courseware-sequence-navigation {
    .previous-btn {
        max-width: 33%;
    }
    .next-btn {
        max-width: 33%;
    }
}
